@page
@model WebApp.Pages.Beers.IndexModel
@{
    ViewData["Title"] = "Beers";
}

<h1>Beers</h1>

<form method="get">
    <label for="options">Search by:</label>
    <select name="SelectedOption" id="options">
        <option value="">All</option>
        <option value="name">Name</option>
        <option value="voltage">Voltage</option>
        <option value="volume">Volume</option>
        <option value="price">Price</option>
    </select>

    <input type="text" name="SearchText" placeholder="Enter search text" />
    <button type="submit">Search</button>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
