@page
@model WebApp.Pages.Beers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="hyperlink-style">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="hyperlink-style">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="hyperlink-style">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="hyperlink-style">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
